.contenedor {
  background-color:#0CC3BB;
}
#tablero {
    text-align: center;
    width: 75%;
    background-image: url("img-memorama/imagen9.jpg");
    background-position: center;
    background-size: cover;
    margin:2% 12.5%;
}

#tablero>div {
  width: calc((100%) / 5);
  height: 180px;
  display: inline-block;
  background-color: #0CC3BB;
  margin: 2%;
  cursor: pointer;
  transition: transform ease .3s;
  border-radius: 14%;
}
#tablero>div:hover {
  transform: scale(1.2);
}
.tarjeta{
  display: none;
  width: 100%;
}

.abrir img {
display: inline-block;
}

.tarjetas {
  width: 100%;
border: 8px solid;
border-color: #dd0b6c;
}

h1, p, ul {
  text-align: center;
  font-size: 2rem;
  color: #d3126a;

}

.titulo {
  font-size: 3rem;
}
