.fondoYLetraNav{
  background: #000;
  height: 100px;
  color: white;

}

a{
  text-decoration: none;
  color: white;
}

a:hover{
  background: #01DFD7;
  color: #000;
  font-weight: bold;
}

.tamano{
  width: 100%;
}

div.col-8{
  height: 580px;
}
.imgDF{
  width: 15%;
  visibility: hidden;
}
.imgDFVisible{
  width: 15%;
  visibility: visible;
}
.posicionAbsoluta{
  position: absolute;
}
.posicionRelative{

  position: relative;
}
.posicionRelativaImgDF{
  position: relative;
  left: 69px;
  top: 314px;
}
.posicionRelativaImgLetra{
  position: relative;
  left: 10%;
  top: 30%;
}

body {
  font-family: 'Combo', cursive;
  font-family: 'Metal', cursive;
  font-family: 'Princess Sofia', cursive;
}

nav h1{
  margin-top: 1%;
  font-size: 34px;
  color: #01DFD7;
}

nav a {
  font-family: 'Combo', cursive;
  font-size: 26px;
  margin-top: 2%;
  color: #01DFD7;
}

nav img {
  width: 10%;
  float: left;
  height: 100px;;
}

/*seccion altar*/
.bloque_ofrenda{
	width:250px;
	height:250px;
	display:inline-block;
	transition:ease 1s;
	margin-right:20px;
	cursor:pointer;
	margin-top:20px;
}


#altar{
	width:830px;
	height:auto;
	margin:0 auto;
	background-color:#0F9;
}
#banner{
	width:830px;
	height:230px;
	margin:0 auto;
	background-color:#0F9;
	background-image:url(../../img-altar/ofrenda.png);	
}

#pan{	
	background-image:url(../../img-altar/pan_de_muerto.png);
}

#pan:hover{

	background-image:url(../../img-altar/pan_back.png);
}

#calavera{
	background-image:url(../../img-altar/calaverita_azucar.png);
}

#calavera:hover{
	background-image:url(../../img-altar/pan_back.png);
}
#cruz{
	background-image:url(../../img-altar/cruz.png);
}

#cruz:hover{
	background-image:url(../../img-altar/cruz_back.png);
}
#flor{
	background-image:url(../../img-altar/flor.png);
}

#flor:hover{
	background-image:url(../../img-altar/flor_back.png);
}
#papel{
	background-image:url(../../img-altar/papel_picado1.png);
}

#papel:hover{
	background-image:url(../../img-altar/papel_back.png);
}
#retrato{
	background-image:url(../../img-altar/retrato.png);
}

#retrato:hover{
	background-image:url(../../img-altar/retrato_back.png);
}
#tequila{
	background-image:url(../../img-altar/tequila.png);
}

#tequila:hover{
	background-image:url(../../img-altar/tequila_back.png);
}
#velas{
	background-image:url(../../img-altar/velas.png);
}

#velas:hover{
	background-image:url(../../img-altar/velas_back.png);
}
#mole{
	background-image:url(../../img-altar/mole.png);
}

#mole:hover{
	background-image:url(../../img-altar/mole_back.png);
}

.limpiar{
	clear:both;
}
	
	
	
	