.fondoYLetraNav{
  background: #7212cf;
  height: 100px;
  color: white;

}

a{
  text-decoration: none;
  color: white;
}
a:hover{
  /*background:#0f80ca;*/
  background:#ff711d;
  color:#000;
  font-weight: bold;
}
.tamano{
  width: 100%;
}

div.col-8{
  height: 580px;
}
.imgDF{
  width: 15%;
  visibility: hidden;
}
.imgDFVisible{
  width: 15%;
  visibility: visible;
}
.posicionAbsoluta{
  position: absolute;
}
.posicionRelative{

  position: relative;
}
.posicionRelativaImgDF{
  position: relative;
  left: 69px;
  top: 314px;
}
.posicionRelativaImgLetra{
  position: relative;
  left: 10%;
  top: 30%;
}
