.fondoYLetraNav{
  background: #7212cf;
  height: 100px;
  color: white
}

a{
  text-decoration: none;
  color: white;
}
a:hover{
  /*background:#0f80ca;*/
  background:#ff711d;
  color:#000;
  font-weight: bold;
}
